:root{
  --main-font:'Source Sans Pro', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
header{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/Object.png);
  background-size: cover;
  background-position: center;
  position: relative;
}
nav{
  display: flex;
  padding: 10px 150px;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 35px;
}
nav p{
  color: white;
  font-family: var(--main-font);
  padding-left: 10px;
  font-size: 10px;
  font-weight: 400;
}
nav ul{
  flex: 1;
  text-align: right;
}
nav ul li{
  display: inline-block;
  margin: 10px;
  list-style: none;
  position: relative;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 12px;

}
nav ul li a:hover{
  color: rgb(215, 230, 10);
  transition: 1s;
}
.content{
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.content h1{
  font-size: 85px;
  color: white;
 font-family: var(--main-font);
}
.content span{
  color: white;
  padding: 20px;
  font-size: 10px;
  text-align: center;

}
.content button{
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #c271FF;
  border: none;
  border-radius: 30px;
  padding: 15px 35px;
  font-size: 12px;
  margin-top: 20px;
  position: relative;
}
.pros{
  margin-top: 250px;
  top: 15%;
  left: 42%;
}
.pros h2{
  color: white;
  font-family: var(--main-font);
  position: absolute;
  left: 42%;
  padding-top: 50px;
  }
  .pros h2 span{
    color:#c271FF;
  }
  .the-pros{
    width: 80%;
    display: flex;
    text-align: center;
    padding-top: 60px;
    margin: 10px;
    
  }
  .pros-details{
    flex-basis: 60%;
    padding-top: 20px;
    padding-left: 130px;

  }
  .pros-details img{
    padding-top: 20px;
  }
  .pros-details h3{
    color: white;
    font-size: 15px;
  }
  .pros-details p{
    color: white;
    font-style: italic;
    padding-top: 5px;
    font-size: 10px;
  }
  .section-2{
    width: 100%;
    height: 300px;
    background-color: #C271FF;
    display: flex;
    align-items: center;
    
  }
  .section-2 img{
    padding-left: 259px;
    width: 160px;
    height: 160px;
  }
.section-2 blockquote{
  padding-left: 50px;
  color: white;
  line-height: 1.5em;
  font-family: var(--main-font);
}
.section-2 h3, .section-2 p{
  color: white;
  padding-left: 50px;
  padding-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}
.section-2 p{
  font-style: italic;
}
.tutorials{
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 60px;
}
.tutorials h2{
  font-weight: lighter;
  font-family: var(--main-font);
}
.tutorials span{
  color: #c271FF;
  font-weight: 700;
}
.tutorials-section{
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}
.tutorials-section h3{
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
  color: #071629;
}
.tutorials-section p{
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 24px;
  font-weight: 200;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
}
.tutorials-section-img{
  display: flex;
}
.tutorials-section-img img{
  width: 30px;
  height: 30px;
  padding-top: 20px;
  padding-left: 22px;
}
.tutorials-section-img h4{
  font-size: 10px;
  padding-top: 26px;
  padding-left: 12px;
  color: #c271FF;
}
.tutorials-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.ratings{
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 20px;
  letter-spacing: 2px;
  font-size: 10px; 
  color:#c271FF;
  
}
.last-rating{
  color: grey;
}
.tutorials-rating p{
  color: #C271FF;
  font-family: var(--main-font);
  font-weight: 600;
}
.membership{
  background-color: #071629;
  width: 100%;
  height: 400px;
  margin-top: 70px;
}
.membership h2{
  color: white;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 32px;
}
.membership span{
  color: #C271FF;
}
.membership-section{
  display: inline-block;
}
.membership-section img{
  text-align: center;
  padding-left: 20px;
}
.membership-section h3{
  color: white;
  padding-left: 100px;
  
}
.membership-section p{
  color: white;
  width: 200px;
  padding-left: 70px;
}
.membership button{
  text-decoration: none;
  color: white;
  background-color: #c271FF;
  border: none;
  border-radius: 30px;
  padding: 20px 40px;
  font-size: 14px;
  margin-top: 40px;
  font-family: var(--main-font);
  font-weight: 600;
}
.FAQ{
  width: 920px;
  height: 707px;
  margin-top: 20px;
}
.FAQ h2{
font-family: var(--main-font);
font-weight: 300;
font-size: 60px;
color: #071629;
padding-bottom: 30px;
}
.one{
  display: flex;
  justify-content: space-between;
}

.FAQ-work{
  text-align: left;
  padding-left: 50px;
}
.FAQ-work h3{
  padding-top: 30px;
  font-family: var(--main-font);
  font-size: 16px;
  color: #071629;
}
.paragraph{
  font-family: var(--main-font);
  font-weight: lighter;
  color: #071629;
  padding-top: 20px;
}